body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-interactive {
  outline: none;
}

.leaflet-container {
  height: 100vh !important;
}

#yearSlider {
  color: black;
}

#countryName {
  margin:0 0 4px 0;
  padding:0;
}

.custom-label {
  background-color: white;
  padding: 5px;
  border: 1px solid #333;
  border-radius: 5px;
}

#yearSliderWrapper {
  position: fixed;
  top: 0; 
  width: 100%; 
  z-index: 1;
}

#hoverWrapper {
  display: flex;
  flex-direction: row;
  padding: 10px 15vw 10px 15vw;
}

#lineGraph {
  width: 80vw;
}

#nameAndCitizenshipWrapper {
  width: 20vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#encountersText {
  margin:0;
}

#nationwideEncountersText {
  font-size: 12px;
}
