body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

#buttonWrapper {
  display: flex;
  justify-content: center;
}

#closeOptionsPaneButton {
  width: 150px;
  padding: 10px;
  margin: 3px 0 3px 0;
  color: black;
  background-color: #ff9797;
  border: 1px solid black;
  font-weight: bold;
  font-size: 17px;
}

.colorSplotch {
  display: inline-block;
  width: 20px; 
  height: 20px; 
  margin-right: 5px;
  border: 0.5px solid black;
}

#countryName {
  margin: 0;
  padding: 0;
}

/* Selected Years */
.css-1eoe787-MuiSlider-markLabel, 
/* Omitted Years */
.css-yafthl-MuiSlider-markLabel {
  color: black;
  font-size: 16px !important;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif !important;
}

#encountersText {
  margin: 0;
}

#flagImage {
  height: 130px;  
  width: auto; 
  outline: 2px solid black;
  margin-top: 8px;
}

.footerLink {
  margin-left: 12px;
  text-decoration: underline;
  color: inherit;
  font-weight: bold;
}

#footerWrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  z-index: 2;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid black;
}

#headerWrapper {
  z-index: 4;
  position: absolute;
  background-color: white;
  width: 100%;
  padding: 5px 0 0 0;
  box-sizing: border-box;
  border-bottom: 3px solid black;
}

#homepage {
  overflow:auto;
}

#hoverWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 4px;
  border-top: 3px solid black;
  z-index: 3;
}

#leafletIcon {
  padding: 0 5px 0 10px;
}

.leaflet-container {
  background-color: rgb(170, 211, 223) !important;
  z-index: 0;
}

.leaflet-interactive {
  fill-opacity: 1
}

#legendHeaderWrapper {
  display: flex;
  align-items: center;
  margin: 0 0 6px 0;
  cursor: pointer;
}

#legendText {
  font-size: 18px;
  margin: 0 0 0 6px;
  font-weight: bold;
}

#legendToggleIcon {
  font-size: 25px;
  font-weight: bold;
  width: 24px;
}

#legendWrapper {
  position: absolute;
  top: 115px;
  left: 10px;
  background-color: white;
  padding: 5px;
  border: 2px solid black;
  z-index: 3;
  border-radius: 5px;
}
.collapsed {
  height: 34px; 
  overflow: hidden;
}

#lineGraph {
  width: 80vw;
}

#nameAndCitizenshipWrapper {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-right: 20px;
}

#nationwideEncountersText {
  font-size: 12px;
}

#openOptionsPaneButton {
  width: 150px;
  padding: 10px;
  margin: 3px 0 3px 0;
  color: black;
  background-color: white;
  border: 2px solid black;
  font-weight: bold;
  font-size: 17px;
}

#optionsPaneWrapper {
  width: 100%; 
  z-index: 3;
  position: absolute;
  top: 90px;
  background-color: white; 
  overflow: hidden;
  border-bottom: 3px solid black;
}

.splotchAndTextWrapper {
  display: flex;
  align-items: center;
}

#switchAndTextWrapper {
  margin: 40px 0 0 0;
  display: flex;
}

#switchText {
  font-size: 20px;
  font-weight: bold;
  margin-right: 30px;
}

#switchWrapper {
  margin-top: 24px;
}

#techIcons {
  position: absolute;
  right: 0;
}

#titleText {
  text-align: center;
  margin: 4px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

#yearLabel {
  font-weight: bold;
  font-size: 20px;
}

#yearSlider {
  color: black;
  margin: 12px;
}

@media only screen and (max-width: 768px) {

  #closeOptionsPaneButton {
    padding: 2px 10px 2px 10px;
  }

  .colorSplotch {
    height: 16px;
    width: 16px;
  }

  #countryName {
    font-size: 18px;
    margin-top: 50px;
    position: fixed;
  }

  #encountersText {
    font-size: 16px;
    margin-top: 75px;
    position: fixed;
  }

  #flagImage {
    height: 45px;
    width: auto;
    position: fixed;
    margin-top: 5px;
  }

  #footerLink {
    font-size: 17px;
  }

  #footerWrapper {
    display: flex;
    justify-content: flex-start;
  }

  #githubIcon {
    margin-left: 8px;
  }

  #headerWrapper {
    height: 90px;
  }

  #hoverWrapper {
    flex-direction: column;
    padding: 0;
  }

  #legendHeaderWrapper {
    margin-bottom: 8px;
  }

  .legendLabel {
    font-size: 14px;
    margin: 6px;
  }

  #legendText {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 0 4px;
  }

  #legendToggleIcon {
    font-size: 17px;
  }

  #legendWrapper {
    position: absolute;
    top: 95px;
    left: 3px;
    background-color: white;
    padding: 5px;
    border: 2px solid black;
    z-index: 3;
  }
  .collapsed {
    height: 28px; 
    overflow: hidden;
  }

  #lineGraph {
    width: 95%;
    overflow-x: auto;
    overflow-y: hidden;
  }

  #nameAndCitizenshipWrapper {
    padding: 0;
    width: 100vw;
  }

  #nationwideEncountersText {
    margin-top: 95px;
    font-size: 0;
  }

  #openOptionsPaneButton {
    padding: 2px 10px 2px 10px;
  }

  #optionsPaneWrapper {
    top: 90px;
  }

  /* Range Slider */
  .css-1c2vomt {
    width: 95vw !important;
  }

  /* Range Slider Text */
  .css-yafthl-MuiSlider-markLabel {
    color: black;
    font-size: 12px !important;
  }

  .css-1eoe787-MuiSlider-markLabel {
    color: black;
    font-size: 12px !important;
    font-weight: bold;
  }

  .switch {
    margin-top: 12px;
    padding: 0;
  }

  #switchAndTextWrapper {
    margin: 35px 0 15px 0;
  }

  #switchText {
    margin: 10px 24px 0 0;
    font-size: 18px;
  }

  #switchWrapper {
    display: flex;
    margin-top: 0;
  }

  #techIcons {
    bottom: 0;
  }

  #titleText {
    font-size: 18px;
    margin: 0;
  }

  #toggleYearButton {
    display: block;
    text-align: center;
    margin: 4px;
  }

  #yearLabel {
    font-size: 18px;
  }

  #yearSlider {
    margin: 4px 0 0 0;
  }

}